.wardrobe-container {
  display: flex;
}
.color-picker {
  flex-basis: 40%;
}
.wardrobe {
  flex-basis: 60%;
  display: flex;
  max-height: 75vh;
  overflow-y: auto;
}
select.additem-input-error {
  border: 1px solid red;
}
.addItem-error-message {
  color: yellow;
}
