.forgotFormContainer {
  width: 500px;
}
.forgotTop {
  border-bottom: 1px solid gray;
}
input.forgotEmail-input-error {
  border: 1px solid red;
}
.forgotEmail-error {
  color: red;
  position: absolute;
  top: 45px;
  left: 5px;
}
